#walrus-showing {
  display: none;
}


.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable.hover {
  text-decoration: underline;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.black-background {
  background-color: black;
  color: white;
}

.white-background {
  background-color: white;
  color: black;
}
